Question 1: Write a Python program to print all the numbers from 1 to 10 using a for loop.

In [2]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

Question 2: Write a Python program to find the sum of all numbers from 1 to 100 using a for
loop.

In [6]:
sum = 0
for i in range(1,101):
    sum = sum+i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

Question 3: Write a Python program to print the multiplication table of a given number using a
for loop.

In [7]:
num = int(input("Enter the number:"))
for i in range(1,11):
    table = num*i
    print(table)

Enter the number: 5

5
10
15
20
25
30
35
40
45
50

In [16]:
list = [1,2,3,4,5,6,7,8,9,10]
even_count = 0
odd_count = 0
for i in list:
    if i%2 == 0:
        even_count +=1
        print("Total count of even number is:", (num))
    else:
        odd_count +=1
print("Total count of even numbers is:", even_count)
print("Total count of odd numbers is:", odd_count)

Total count of even number is: 5
Total count of even number is: 5
Total count of even number is: 5
Total count of even number is: 5
Total count of even number is: 5
Total count of even numbers is: 5
Total count of odd numbers is: 5

Question 5: Write a Python program to find the factorial of a number using a for loop.

In [2]:
num = int(input("Enter a number to find its factorial: "))
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}.")

Enter a number to find its factorial:  5

The factorial of 5 is 120.

Question 6: Write a Python program to print the Fibonacci sequence up to a specified number
using a for loop.

In [6]:
num = int(input("Enter a number to find its fibonacci sequence: "))
a, b = 0,1
print("fibonacci series upto",num,":")
for _ in range(num):
    if a>num:
        break
    print(a, end=" ")
    a, b = b, a+b

Enter a number to find its fibonacci sequence:  5

fibonacci series upto 5 :
0 1 1 2 3

Question 7: Write a Python program to check if a given number is prime or not using a for loop.

In [11]:
num = int(input("Enter a number:"))
if num <= 1:
    print("The given number is not prime")
elif num%1==0 and num%num == 0 and num%2!=0:
    print("The given number is prime")
else:
     print("The given number is not prime")

Enter a number: 13

The given number is prime

Question 8: Write a Python program to find the largest element in a list using a for loop.

In [14]:
numbers = [12, 45, 2, 89, 33, 67, 5]
largest = numbers[0]
for num in numbers:
    if num > largest:
        largest = num
print("The largest element in the list is:", largest)

The largest element in the list is: 89

Question 9: Write a Python program to reverse a given string using a for loop.

In [16]:
input_string = ("Enter the string")
reverse_string = ""
for char in input_string:
    reverse_string = char + reverse_string
print("Reverse string:", reverse_string)

Reverse string: gnirts eht retnE

Question 10: Write a Python program to find the common elements between two lists using a
for loop.
List1 = [1,2,3]
List2 = [4,5,1]

In [ ]:
List1 = [1,2,3] 
List2 = [4,5,1]
common_element = []
for items in List1:
    if items in List2:
        common_element.append(i